.tooltip {
  position: absolute;
  opacity: 0;
  top: -2rem;
  left: 50%;
  translate: -50% 0;
  z-index: 2;
  width: 6rem;
  border-radius: 0.25rem;
  font-size: 14px;
  text-align: center;
  padding: 4px 2px;
  transition: all 0.15s ease-in;
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  rotate: 180deg;
  border-color: transparent transparent #d6e4e5 transparent;
}
